@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  border: 0.15em solid;
  border-radius: 50%;
  display: grid;
  height: 1.15em;
  place-content: center;
  -webkit-transform: translateY(-0.075em);
  transform: translateY(-0.075em);
  width: 1.15em;
  margin: 3px;
}
input[type="checkbox"]:checked:before {
  -webkit-transform: scale(1);
  transform: scale(1);
}
input[type="checkbox"]:before {
  border-radius: 50%;
  box-shadow: inset 1em 1em #fff;
  content: "";
  height: 0.65em;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: -webkit-transform 0.12s ease-in-out;
  transition: transform 0.12s ease-in-out;
  transition:
    transform 0.12s ease-in-out,
    -webkit-transform 0.12s ease-in-out;
  width: 0.65em;
}
::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0);
  width: 16px;
}
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-track:hover {
  background-color: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb {
  background-color: #343434;
  border-radius: 8px;
  border: 6px solid #000;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #fff;
  border: 6px solid #000;
}
::-webkit-scrollbar-button {
  display: none;
}
